--
-- PostgreSQL database dump
--

\restrict JQ4cyitQUnHxWCFYEOeF4K2JLouyZbWQbmBFArk9JNMlDt27Jf6ahDYNNrXtQbl

-- Dumped from database version 18.3 (Debian 18.3-1.pgdg13+1)
-- Dumped by pg_dump version 18.3 (Debian 18.3-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.book (
    book_id integer NOT NULL,
    title character varying(255) NOT NULL,
    author character varying(255),
    price numeric(10,2),
    publication_date date,
    b_data json,
    g_id integer,
    p_id integer
);


ALTER TABLE public.book OWNER TO "ToharEden";

--
-- Name: branch; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.branch (
    branch_id integer NOT NULL,
    branch_name character varying(255) NOT NULL,
    city character varying(255),
    address character varying(255),
    manager_id integer
);


ALTER TABLE public.branch OWNER TO "ToharEden";

--
-- Name: customer; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.customer (
    c_id integer NOT NULL,
    full_name character varying(255) NOT NULL,
    phone character varying(50),
    email character varying(255),
    join_date date,
    loyalty_info json
);


ALTER TABLE public.customer OWNER TO "ToharEden";

--
-- Name: employee; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.employee (
    e_id integer NOT NULL,
    first_name character varying(255) NOT NULL,
    last_name character varying(255) NOT NULL,
    "position" character varying(255),
    hire_date date,
    salary numeric(10,2),
    branch_id integer
);


ALTER TABLE public.employee OWNER TO "ToharEden";

--
-- Name: genre; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.genre (
    g_id integer NOT NULL,
    genre_name character varying(255) NOT NULL
);


ALTER TABLE public.genre OWNER TO "ToharEden";

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.inventory (
    branch_id integer NOT NULL,
    book_id integer NOT NULL,
    quantity integer DEFAULT 0
);


ALTER TABLE public.inventory OWNER TO "ToharEden";

--
-- Name: publisher; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.publisher (
    p_id integer NOT NULL,
    publisher_name character varying(255) NOT NULL
);


ALTER TABLE public.publisher OWNER TO "ToharEden";

--
-- Name: sale; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.sale (
    s_id integer NOT NULL,
    sale_date date,
    total_amount numeric(10,2),
    payment_method character varying(50),
    receipt_data json,
    c_id integer,
    e_id integer
);


ALTER TABLE public.sale OWNER TO "ToharEden";

--
-- Name: sale_item; Type: TABLE; Schema: public; Owner: ToharEden
--

CREATE TABLE public.sale_item (
    s_id integer NOT NULL,
    book_id integer NOT NULL,
    quantity integer NOT NULL
);


ALTER TABLE public.sale_item OWNER TO "ToharEden";

--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.book (book_id, title, author, price, publication_date, b_data, g_id, p_id) FROM stdin;
\.


--
-- Data for Name: branch; Type: TABLE DATA; Schema: public; Owner: ToharEden
--



--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.customer (c_id, full_name, phone, email, join_date, loyalty_info) FROM stdin;
\.


--
-- Data for Name: employee; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.employee (e_id, first_name, last_name, "position", hire_date, salary, branch_id) FROM stdin;
\.


--
-- Data for Name: genre; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.genre (g_id, genre_name) FROM stdin;
\.


--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.inventory (branch_id, book_id, quantity) FROM stdin;
\.


--
-- Data for Name: publisher; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.publisher (p_id, publisher_name) FROM stdin;
\.


--
-- Data for Name: sale; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.sale (s_id, sale_date, total_amount, payment_method, receipt_data, c_id, e_id) FROM stdin;
\.


--
-- Data for Name: sale_item; Type: TABLE DATA; Schema: public; Owner: ToharEden
--

COPY public.sale_item (s_id, book_id, quantity) FROM stdin;
\.


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (book_id);


--
-- Name: branch branch_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.branch
    ADD CONSTRAINT branch_pkey PRIMARY KEY (branch_id);


--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (c_id);


--
-- Name: employee employee_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_pkey PRIMARY KEY (e_id);


--
-- Name: genre genre_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.genre
    ADD CONSTRAINT genre_pkey PRIMARY KEY (g_id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (branch_id, book_id);


--
-- Name: publisher publisher_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.publisher
    ADD CONSTRAINT publisher_pkey PRIMARY KEY (p_id);


--
-- Name: sale_item sale_item_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT sale_item_pkey PRIMARY KEY (s_id, book_id);


--
-- Name: sale sale_pkey; Type: CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT sale_pkey PRIMARY KEY (s_id);


--
-- Name: book book_g_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_g_id_fkey FOREIGN KEY (g_id) REFERENCES public.genre(g_id);


--
-- Name: book book_p_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_p_id_fkey FOREIGN KEY (p_id) REFERENCES public.publisher(p_id);


--
-- Name: employee employee_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.employee
    ADD CONSTRAINT employee_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branch(branch_id);


--
-- Name: inventory inventory_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id);


--
-- Name: inventory inventory_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branch(branch_id);


--
-- Name: sale sale_c_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT sale_c_id_fkey FOREIGN KEY (c_id) REFERENCES public.customer(c_id);


--
-- Name: sale sale_e_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale
    ADD CONSTRAINT sale_e_id_fkey FOREIGN KEY (e_id) REFERENCES public.employee(e_id);


--
-- Name: sale_item sale_item_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT sale_item_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id);


--
-- Name: sale_item sale_item_s_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ToharEden
--

ALTER TABLE ONLY public.sale_item
    ADD CONSTRAINT sale_item_s_id_fkey FOREIGN KEY (s_id) REFERENCES public.sale(s_id);


--
-- PostgreSQL database dump complete
--

\unrestrict JQ4cyitQUnHxWCFYEOeF4K2JLouyZbWQbmBFArk9JNMlDt27Jf6ahDYNNrXtQbl

